<!-- Navbar section -->
<div class="navbar">
    <img class="navbar-logo" src="../../../assets/images/logo.png" alt="Logo"  width="200px">
</div>
<!-- End:Navbar section -->
<!-- Hero section -->
<div class="hero">
    <div class="hero-card">
      <h2>Improve your skills on your own <br> To prepare for a better future</h2>
      <input class="button btn-primary" type="button" value="REGISTER NOW">
    </div>
</div>
<!-- End:Hero section -->

<!-- Courses Section -->
<div class="section courses">
    <div class="container">
        <div class="header-title flex-justify-content">
            <h2>Discover Our Courses </h2>
            <input class="button btn-primary" type="button" value="View more" routerLink="/courses">
        </div>
        <div class="card-container">
            <div class="card">
                <img class="card-image" src="../../../assets/images/Screenshot_32.png" alt="Card Image">
                <div class="card-content">
                    <div class="card-title">
                        <h3 class="text">Spring Boot / Angular</h3>
                    </div>
                    <div>
                        <span class="primary">350 DT/ Month</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-image" src="../../../assets/images/Screenshot_33.png" alt="Card Image">
                <div class="card-content">
                    <div class="card-title">
                        <h3 class="text">Spring Boot / Angular</h3>
                    </div>
                    <div>
                        <span class="primary">350 DT/ Month</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-image" src="../../../assets/images/Screenshot_34.png" alt="Card Image">
                <div class="card-content">
                    <div class="card-title">
                        <h3 class="text">Spring Boot / Angular</h3>
                    </div>
                    <div>
                        <span class="primary">350 DT/ Month</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-image" src="../../../assets/images/Screenshot_35.png" alt="Card Image">
                <div class="card-content">
                    <div class="card-title">
                        <h3 class="text">Spring Boot / Angular</h3>
                    </div>
                    <div>
                        <span class="primary">350 DT/ Month</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-image" src="../../../assets/images/Screenshot_36.png" alt="Card Image">
                <div class="card-content">
                    <div class="card-title">
                        <h3 class="text">Spring Boot / Angular</h3>
                    </div>
                    <div>
                        <span class="primary">350 DT/ Month</span>
                    </div>
                </div>
            </div>
            <div class="card">
                <img class="card-image" src="../../../assets/images/Screenshot_37.png" alt="Card Image">
                <div class="card-content">
                    <div class="card-title">
                        <h3 class="text">Spring Boot / Angular</h3>
                    </div>
                    <div>
                        <span class="primary">350 DT/ Month</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- End:Courses Section -->
<!-- contact Section -->
<div class="contact-container">
    <div class="contact-card">
      <h2>Contact Us</h2>
      <form action="#" method="post">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" placeholder="Jiara Martins" required>
        </div>
  
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" placeholder="Hello@reallygreatsite.com" required>
        </div>
  
        <div class="form-group">
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="4" placeholder="write your meesage here" required></textarea>
        </div>
  
        <input class="button btn-primary" type="button" value="Send the message">
      </form>
    </div>
  </div>
<!-- End:contact Section -->